@model EventEase.Models.Event

<h2>Create Event</h2>

<form method="post">
    <input name="EventName" placeholder="Event Name" />

    <select name="VenueId">
        @foreach (var v in ViewBag.Venues)
        {
            <option value="@v.VenueId">@v.VenueName</option>
        }
    </select>

    <select name="EventTypeId">
        @foreach (var t in ViewBag.EventTypes)
        {
            <option value="@t.EventTypeId">@t.TypeName</option>
        }
    </select>

    <button type="submit">Save</button>
</form>