@model EventEase.Models.Event

<h2>Delete Event</h2>

<p>Are you sure you want to delete?</p>

<p><b>@Model.EventName</b></p>

<form asp-action="DeleteConfirmed" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" name="id" value="@Model.EventId" />
    <button type="submit" class="btn btn-danger">Delete</button>
</form>

<a asp-action="Index">Cancel</a>
