@model EventEase.Models.Venue

<h2>Create Venue</h2>

<form method="post">
    <input name="VenueName" placeholder="Name" />
    <input name="Location" placeholder="Location" />
    <input name="Capacity" type="number" placeholder="Capacity" />

    <button type="submit">Save</button>
</form>