@model EventEase.Models.Venue

<h2>Edit Venue</h2>

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <input asp-for="VenueId" type="hidden" />
    <input asp-for="ImageUrl" type="hidden" />

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="VenueName"></label>
        <input asp-for="VenueName" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Location"></label>
        <input asp-for="Location" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Capacity"></label>
        <input asp-for="Capacity" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Replace Venue Image</label>
        <input type="file" name="imageFile" accept="image/*" class="form-control" />
    </div>

    <button type="submit" class="btn-green">Update</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
