@{
    ViewData["Title"] = "Home";
}

<h1>EventEase Dashboard</h1>

<p>Manage venues, events and bookings in one system.</p>

<a class="btn-green" href="/Venues">Go to Venues</a>
<a class="btn-green" href="/Events">Go to Events</a>
<a class="btn-green" href="/Bookings">Go to Bookings</a>